openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://local-nris.ca'
paths:
  /api/v1/get-all-country:
    post:
      summary: getAllCountry
      operationId: getAllCountry
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response not found!\n\n\n\n<aside class=\"notice\">basepath/api/v1/get-all-country</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"status\": true,\n\"status_code\": 200,\n\"message\": \"Successfully country list get...\",\n\"data\": [\n{\n\"id\": 1,\n\"name\": \"USA\",\n\"color\": \"#16b19f\",\n\"code\": \"us\",\n\"domain\": \"usa\",\n\"image\": \"152194054262639fda95ac05.12411768.jpg\",\n\"c_meta_title\": \"Indian Website for Nris in USA\",\n\"c_meta_description\": \"An Indian community website for all NRIS residing in United States. Get information on local real estate, Indian movies, restaurants, visiting spots etc.\",\n\"c_meta_keywords\": \"Indian websites in USA, NRI websites, Indian community websites, classified website for NRIS in USA, free ads website\",\n},\n{\n\"id\": 2,\n\"name\": \"Canada\",\n\"color\": \"#990d00\",\n\"code\": \"ca\",\n\"domain\": \"canada\",\n\"image\": \"47659423262639bd6a30242.39786820.jpg\",\n\"c_meta_title\": \"Indian Website for Nris in Canada\",\n\"c_meta_description\": \"An Indian community website for all NRIS residing in Canada . Get information on\",\n\"c_meta_keywords\": \"Indian websites in Canada, NRI websites, Indian community websites, classified website for NRIS in Canada, free ads website\",\n}\n]\n}"
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: false
                  status_code: 404
                  message: 'Country not found...'
                  data: []
                properties:
                  status:
                    type: boolean
                    example: false
                  status_code:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'Country not found...'
                  data:
                    type: array
                    example: []
      tags:
        - 'Country State & City'
      security: []
  /api/v1/get-all-state-by-country:
    post:
      summary: getAllStateByCountry
      operationId: getAllStateByCountry
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response not found!\n\nEX\n {\n\"country_id\":1\n}\n\n<aside class=\"note\">basepath/api/v1/get-all-state-by-country</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  status_code: 200
                  message: 'Successfully state list get...'
                  data:
                    -
                      id: 3
                      name: 'Aberconwy and Colwyn'
                      code: AC
                      domain: aberconwyandcolwyn
                      description: 'Aberconwy and Colwyn'
                      logo: ''
                      s_meta_title: ''
                      s_meta_description: ''
                      s_meta_keywords: ''
                      header_image: 'NULL'
                      header_image2: 'NULL'
                      header_image3: 'NULL'
                      created_by: 'NULL'
                    -
                      id: 5
                      name: 'Aberdeen City'
                      code: ADC
                      domain: aberdeencity
                      description: 'Aberdeen City'
                      logo: ''
                      s_meta_title: ''
                      s_meta_description: ''
                      s_meta_keywords: ''
                      header_image: 'NULL'
                      header_image2: 'NULL'
                      header_image3: 'NULL'
                      created_by: 'NULL'
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'Successfully state list get...'
                  data:
                    type: array
                    example:
                      -
                        id: 3
                        name: 'Aberconwy and Colwyn'
                        code: AC
                        domain: aberconwyandcolwyn
                        description: 'Aberconwy and Colwyn'
                        logo: ''
                        s_meta_title: ''
                        s_meta_description: ''
                        s_meta_keywords: ''
                        header_image: 'NULL'
                        header_image2: 'NULL'
                        header_image3: 'NULL'
                        created_by: 'NULL'
                      -
                        id: 5
                        name: 'Aberdeen City'
                        code: ADC
                        domain: aberdeencity
                        description: 'Aberdeen City'
                        logo: ''
                        s_meta_title: ''
                        s_meta_description: ''
                        s_meta_keywords: ''
                        header_image: 'NULL'
                        header_image2: 'NULL'
                        header_image3: 'NULL'
                        created_by: 'NULL'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 3
                        name:
                          type: string
                          example: 'Aberconwy and Colwyn'
                        code:
                          type: string
                          example: AC
                        domain:
                          type: string
                          example: aberconwyandcolwyn
                        description:
                          type: string
                          example: 'Aberconwy and Colwyn'
                        logo:
                          type: string
                          example: ''
                        s_meta_title:
                          type: string
                          example: ''
                        s_meta_description:
                          type: string
                          example: ''
                        s_meta_keywords:
                          type: string
                          example: ''
                        header_image:
                          type: string
                          example: 'NULL'
                        header_image2:
                          type: string
                          example: 'NULL'
                        header_image3:
                          type: string
                          example: 'NULL'
                        created_by:
                          type: string
                          example: 'NULL'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: false
                  status_code: 404
                  message: 'State not found...'
                  data: []
                properties:
                  status:
                    type: boolean
                    example: false
                  status_code:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'State not found...'
                  data:
                    type: array
                    example: []
      tags:
        - 'Country State & City'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                '*country_id':
                  type: integer
                  description: ''
                  example: 1
              required:
                - '*country_id'
      security: []
  /api/v1/get-all-city-by-state-and-country:
    post:
      summary: getAllCityByStateAndCountry
      operationId: getAllCityByStateAndCountry
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response not found!\n\n {\n\"country_id\":101,\n\"state_id\":4037\n}\n<aside class=\"notice\">basepath/api/v1/get-all-city-by-state-and-country</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  status_code: 200
                  message: 'Successfully city list get...'
                  data:
                    -
                      id: 1
                      name: Airdrie
                      state_code: AB
                    -
                      id: 2
                      name: Brooks
                      state_code: AB
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'Successfully city list get...'
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: Airdrie
                        state_code: AB
                      -
                        id: 2
                        name: Brooks
                        state_code: AB
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Airdrie
                        state_code:
                          type: string
                          example: AB
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: false
                  status_code: 404
                  message: 'City Not Found...'
                  data: []
                properties:
                  status:
                    type: boolean
                    example: false
                  status_code:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'City Not Found...'
                  data:
                    type: array
                    example: []
      tags:
        - 'Country State & City'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                '*country_id':
                  type: integer
                  description: ''
                  example: 1
                '*state_id':
                  type: integer
                  description: ''
                  example: 1
              required:
                - '*country_id'
                - '*state_id'
      security: []
tags:
  -
    name: 'Country State & City'
    description: "\nAPIs for managing all country, state, city"
